[submodule "mushr_coordination"]
	path = mushr_coordination
	url = https://github.com/fluentrobotics/mushr_coordination
	branch = noetic-fluent
[submodule "mushr_pixelart_mpc"]
	path = mushr_pixelart_mpc
	url = https://github.com/fluentrobotics/mushr_pixelart_mpc
	branch = noetic-fluent
[submodule "clcbs_ros"]
	path = clcbs_ros
	url = https://github.com/fluentrobotics/clcbs_ros
	branch = noetic-fluent
[submodule "limit_surface"]
	path = limit_surface
	url = https://github.com/schmittlema/limit_surface
	branch = main
